<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Dealer</title>
	</head>

	<body>
		<h3 th:text="'Alamat: ' + ${dealer.alamat}"></h3>
		<h3 th:text="'Telepon: ' + ${dealer.noTelp}"></h3>
		<br>
		<h3 th:text="'List Mobil'"></h3>
		<table border="1">
			<div>
				<tr>
					<td>Brand</td>
					<td>Type</td>
					<td>Price</td>
					<td>Amount</td>
				</tr>
			</div>
			<div th:each="car : ${listCar}">
				<tr>
					<td th:text="${car.brand}"></td>
					<td th:text="${car.type}"></td>
					<td th:text="${car.price}"></td>
					<td th:text="${car.amount}"></td>
				</tr>
			</div>
		</table>
		<br>
		</br>
		<a th:href="@{/car/add/{id}(id=${dealer.id})}">Add car</a>
	</body>
</html>